@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-4">
            <div class="p-3">
                <a asp-action="game" class="btn btn-primary btn-lg" >spel starten</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button">Button</button>
  <button class="btn btn-primary" type="button">Button</button>
</div>
        
    </div>
</div>
<div class="col col-md-4">
            <div class="p-3">
                <a asp-action="Login" class="btn btn-primary btn-lg" >inloggen</a>
            </div>
        </div>
