@{
    ViewData["Title"] = "Login";
}

@model SolitaireLogicLayer.User;
<head> 
<link rel="stylesheet" href="~/css/site.css" />    
</head>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <strong>Error</strong> @ViewBag.Message
    </div>
}


    <div class="customcontainer">
        <div class="d-flex justify-content-center h-100">
            <div class="customcard">
                <div class="card-header">
                    <h1 class="h1-white">Login</h1>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Name" placeholder="Name" required class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Password" placeholder="Password" class="form-control" data-toggle="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn" />
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>



